<div class="d-flex">
    <app-sidebar></app-sidebar>

    <div class="container">
        <div class="row p-3">
            <div class="col">
                <h5>Buscar:</h5>

                <input type="text" class="form-control" placeholder="Buscar GIFs..." />
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo ex animi eveniet, sint ea soluta
                    sed eum suscipit repellat minus nobis ad iste vero libero vitae officiis, corrupti aliquam
                    consequatur!</p>
            </div>
        </div>
    </div>
</div>